html {
	background-color: lightgray;
	font-family: sans-serif;
}

header {
	background-color: #1E9CD7;
	color: white;
	padding: 0.5em;
	margin-bottom: 20px;
	text-align: center;
	box-shadow: 0px 0.5em 0.5em #4444;
}

#content {
	width: 100%;
	text-align: center;
}


/*Bringing in the orbitron font to the content*/

h1,
footer,
button {
	font-family: "orbitron", sans-serif;
}

li {
	padding: 0.5em;
	list-style: none;
	border-bottom: 2px solid gray;
}

.editableText {
	display: inline;
}

#help_list li {
	border: none;
	list-style: decimal;
	text-align: left;
}

div#help h1 {
	text-align: left;
	padding-left: 0.5em;
}

aside {
	position: fixed;
	left: 10px;
}

button {
	padding: 0.5em;
	margin-right: 0.5em;
	background-color: white;
	border: none;
	border-radius: 6px;
	box-shadow: 2px 2px 2px gray;
}

button:hover {
	padding: 0.5em;
	background-color: black;
	color: white;
	border: none;
	border-radius: 6px;
	text-align: center;
}

button:active {
	padding: 0.5em;
	background-color: grey;
	color: white;
	border: none;
	border-radius: 6px;
	text-align: center;
	box-shadow: 2px 2px 2px white inset;
}

footer {
	background-color: #1E9CD7;
	color: white;
	margin-bottom: 20px;
	text-align: center;
	padding: 0.5em;
}

input {
	font-family: inherit;
	background-color: lightgray;
	border: none;
	border-bottom: 2px solid black;
	text-align: center;
	padding-top: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 10px;
}