/*CSS Document*/
/*Seeting Font Family for the page.*/
html {
	font-family: sans-serif;
}
/*Header of the HTML Document.*/

header {
	padding: 20px;
	background-color: black;
	color: white;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}

nav {
	background-color: black;
	color: white;
}

nav ul li {
	display: inline;
	padding: 10px 5px 0px 5px;
}

nav ul li a  {
	padding: 0.5em;
	color: black;
	text-decoration: none;
	padding-bottom: 0;
	margin-bottom: 10px;

}

#notcurrentpage {
	background-color: lightgrey;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

nav ul li#currentpage {
	color: black;
	text-decoration: none;
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

img#logo {
	width: 20%;
	height: 20%;
}

/*Body of the HTML document.*/

body div#container {
	width: 80%;
	margin: 0 auto;
}

body section#left_side {
	float: left;
	width: 50%
}

body section#left_side img#boxart {
	padding-top: 0.5em;
	height: 80%;
	width: 80%;
}

#free_shipping {
	font-size: 80%;
	color: black;
}

p#list_price {
	text-decoration: line-through;
	font-size: 90%;
}

body section#right_side {
	padding-left: 5%;
	float: right;
	width: 45%;
}
h3#price {
	font-family: "orbitron";
	color: red;
}

p#save_price {
	color: darkred;
	font-size: 90%;
}
/*Add to cart button*/
button#add_to_cart_button {
	background-color: #FF9600;
	padding: 0.5em 1em;
	margin: 0.5em 4em;
	border-radius: 10px;
	color: white;
}

section#bottom_part {
	width: 50%
	margin: 0 auto;
}

/*Footer of the HTML document.*/
footer {
	padding: 20px;
	background-color: black;
	color: white;
	text-align: center;
	clear: both;
}

/*Embedding the fonts into the CSS*/

header, nav ul li a, footer, h1, h2, h3, h4, #list_price, #save_price, button#add_to_cart_button {
	font-family: "orbitron";
}